/.vscode/
pages/ausbildung/videos/Abräumen.mp4
pages/ausbildung/videos/Evangeliumsprozession.mp4
pages/ausbildung/videos/Flambo.mp4
pages/ausbildung/videos/Gabenbereitung.mp4
pages/ausbildung/videos/Sammeln.mp4
